.Toastify__toast-container {
    display: flex;
    flex-direction: column;
}

.Toastify__toast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.Toastify__toast-body {
    margin: 1rem;
}

.Toastify__close-button {
    margin: 1rem;
}